*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body,html{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1vw;
    background-color: blanchedalmond;
}
.Navbar h1{
    font-weight: 800;
}
#SearchInput{
    padding: 1vw 5vw;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}
#btn{
    padding: 1.1vw 2vw;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#container-Item{
    width: 100%;
    height: 100%;
    display: grid;
      grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 2vw;
}
#Items-Section{
    width: 1400px;
    height: auto;
    display: flex;
}
